# Секреты и пароли
.env
*.env
secrets/
config/

# Виртуальные окружения
venv/
env/
__pycache__/
*.pyc

# Временные файлы
*.log
temp_*
*.tmp
*.bak

# IDE
.vscode/
.idea/
*.swp
*.swo

# ОС
Thumbs.db
.DS_Store

# Telegram-бот
telegram-bot/temp_*
telegram-bot/__pycache__

token.json
credentials.json